<!DOCTYPE html>
<html>
  <head>
    <title>Post</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

  </head>

  <body>
    <h1 class="float-right"><%= link_to "Create Blog", new_admin_blog_url, :class => 'navbar-link' %></h1>

  </body>
</html>
